<a href="https://colab.research.google.com/github/jay-giametta/data-sci/blob/main/3_logisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression

Import necessary libraries

In [7]:
from sklearn.linear_model import LogisticRegression
import pandas as pd

Read the Iris dataset into a dataframe

In [4]:
iris = pd.read_csv("https://datahub.io/machine-learning/iris/r/iris.csv")

Choose feature values

In [5]:
features = iris[['sepallength', 'sepalwidth', 'petallength', 'petalwidth']]

Choose target values

In [16]:
target = iris['class']

Instantiate a regression model

In [11]:
model = LogisticRegression()

Fit the model using the entire dataset.

Note: Will cover using separate training/test sets and validation in a later notebook

In [17]:
model.fit(features, target)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Make predictions with the fitted model

In [18]:
predict = model.predict(features)

Create a new dataframe with truth/prediction data

In [20]:
dic = {'truth': target, 'predict': predict}
classes = pd.DataFrame(data=dic)
classes['correct'] = classes.predict == classes.truth

Print the first few obsevations in the new dataframe

In [21]:
classes.head()

         truth      predict  correct
0  Iris-setosa  Iris-setosa     True
1  Iris-setosa  Iris-setosa     True
2  Iris-setosa  Iris-setosa     True
3  Iris-setosa  Iris-setosa     True
4  Iris-setosa  Iris-setosa     True

Calculate and print the model accuracy

In [22]:
print('Model accuracy: ' + str(round(classes.correct.sum()/classes.correct.count()*100, 2)) + '%')

Model accuracy: 97.33%

Print the incorrect predictions

In [23]:
classes.loc[classes.correct == False]

               truth          predict  correct
70   Iris-versicolor   Iris-virginica    False
77   Iris-versicolor   Iris-virginica    False
83   Iris-versicolor   Iris-virginica    False
106   Iris-virginica  Iris-versicolor    False